.player {
    width: 100%;
    margin-top: var(--header-height);
    background-color: var(--tertiary-color);
    display: flex;

    @media (max-width: 1030px) {
        flex-direction: column;
    }
}

.player__img {
    width: auto;
    height: 100%;

    @media (max-width: 1030px) {
        width: 100%;
        height: auto;
    }
}


.player__information-container {
    padding: 0 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .player__name {
        font-size: var(--font-size-10);
        font-weight: var(--font-weight);
        color: var(--accent-color);
        
    }

    .player__last-name {
        display: block;
        font-size: var(--font-size-11);
        font-weight: var(--font-medium);
    }

    .player__height {
        font-size: var(--font-size-11);
        font-weight: var(--font-lighter); 
        color: var(--accent-color);
        margin-bottom: 48px;
    }

    .player__height__unit {
        font-size: var(--font-size-8);
    }

    .player__text {
        color: var(--secondary-color);
        margin-bottom: 24px;

        h2 {
            font-size: var(--font-size-3);
            font-weight: var(--font-lighter); 
        }

        h3 {
            font-size: var(--font-size-6);
            font-weight: var(--font-medium); 
            text-transform: capitalize;
        }
    }

    @media (max-width: 768px) {
        padding: 20px 12px;

        .player__name {
            font-size: var(--font-size-5);
            font-weight: var(--font-lighter);
        }

        .player__last-name {
            font-size: var(--font-size-9);
        }

        .player__height {
            margin-bottom: 10px;
        }

        .player__height, 
        .player__height__unit {
            font-size: var(--font-size-5);
        }

        .player__text {
            margin-bottom: 12px;

            h3 {
                font-size: var(--font-size-4);
            }
        }
    }

}

.player__social-medias {
    display: flex;
    gap: 10px;
    
    div {
        width: 36px;
        height: 36px;
        background-color: var(--accent-color);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: var(--transition-duration-normal);
        &:hover {
            background-color: var(--accent-color-hover);
        }
        img {
            width: 20px;
            height: 20px;
        }
    }
}