/* =================== fonts imports =================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


:root {
    /* =================== colors =================== */
    --primary-color: #111111;
    --black-color: #000;
    --secondary-color: #fff;
    --opacity-secondary-color: #ffffff2b;
    --tertiary-color: #333333;
    --quartiary-color: #222222;
    --accent-color: #F2BBD2;
    --accent-color-strong: #FF8ABB;
    --accent-color-hover: #dd8dae;
    --text-light-color: #F6EBEB;
    --border-light-color: #DCD9D9;

    /* =================== font sizes =================== */
    --font-size-1: 10px;
    --font-size-2: 12px;
    --font-size-3: 14px;
    --font-size-4: 16px;
    --font-size-5: 18px;
    --font-size-6: 20px;
    --font-size-7: 22px;
    --font-size-8: 24px;
    --font-size-9: 32px;
    --font-size-10: 40px;
    --font-size-11: 60px;

    /* =================== font weight =================== */
    --font-lighter: 200;
    --font-regular: 300;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* =================== font family =================== */
    --font-montserrat: 'Montserrat', sans-serif;

    /* =================== line height =================== */
    --line-height-xsm: 18px;
    --line-height-sm: 20px;
    --line-height-md: 30px;

    /* =================== transitions =================== */
    --transition-duration-fast: 0.2s;
    --transition-duration-normal: 0.4s;
    --transition-duration-slow: 1s;


    /* =================== header =================== */
    --header-height: 88px;

    @media (max-width: 768px) {
        --header-height: 60px;        
    }
}